### NOTES ###
#remove or add `!` to reverse the direction pins or enable pins if needed.
#these are the basic values for everything. This config should be enough to
#put klipper into a ready state. Do not attempt to print until calibrations are
#complete
# Complete the following, delta manual calibration, pid tune bed and hotend
# and print the test STL and do the advanced calibration as documented on the klipper site
### END NOTES

# Left
[stepper_a]
step_pin: P2.0
dir_pin: !P0.5
enable_pin: !P0.4
step_distance: 0.012536
endstop_pin: P1.25
#position_endstop: 520
homing_speed: 100
#arm_length: 397.1900

#Back
[stepper_b]
step_pin: P2.1
dir_pin: !P0.11
enable_pin: !P0.10
step_distance: 0.012536
endstop_pin: P1.27
#position_endstop: 520
homing_speed: 100
#arm_length: 397.1900

#Right
[stepper_c]
step_pin: P2.2
dir_pin: !P0.20
enable_pin: !P0.19
step_distance: 0.012536
endstop_pin: P1.29
#position_endstop: 520
homing_speed: 100
#arm_length: 397.1900

#Extruder
[extruder]
step_pin: P2.3
dir_pin: P0.22
enable_pin: !P0.21
### Extruder ESteps ###
step_distance: 0.00037037
### Extruder ESteps ###
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000
max_extrude_cross_section: 1500.0
max_extrude_only_velocity: 120
max_extrude_only_accel: 32
pressure_advance: 0.035

#Heater
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_Kp: 21.136
pid_Ki: 0.903
pid_Kd: 123.643
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control = pid
pid_kp = 65.227
pid_ki = 0.868
pid_kd = 1225.447
min_temp: 0
max_temp: 150

[printer]
kinematics: delta
max_velocity: 666
max_accel: 1200
max_z_velocity: 666
minimum_z_position: -20
#delta_radius: 165

[delta_calibrate]
radius: 165
speed: 100
horizontal_move_z: 10

#BL Touch
[bltouch]
sensor_pin: P1.28
control_pin: P1.23
x_offset: 0.0
y_offset: 20.0
z_offset = 0.995
speed: 5.0
samples: 5
sample_retract_dist: 5.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 1

[bed_mesh]
speed: 45
horizontal_move_z: 10
bed_radius: 150
round_probe_count: 7
algorithm: bicubic

[mcu]
serial: /dev/ttyACM0
baud: 250000

[respond]
default_type: echo

[static_digital_output leds]
pins: P1.18, P1.19, P1.20, P1.21, P4.28

[mcp4451 stepper_digipot1]
i2c_address: 44

# Scale the config so that wiper values can be specified in amps.
scale: 2.25

#Adjust the below values for TL Smoother Amperages.
#The below values are what I am using
# wiper 0 is X (aka alpha), 1 is Y, 2 is Z, 3 is E0
wiper_0: 1.2
wiper_1: 1.2
wiper_2: 1.2
wiper_3: 0.85

#Secondary Extruder
[mcp4451 stepper_digipot2]
i2c_address: 45
scale: 2.25
# wiper 0 is E1
wiper_0: 0.85

# Heater cooling fans (one may define any number of sections with a
# "heater_fan" prefix). A "heater fan" is a fan that will be enabled
# whenever its associated heater is active. By default, a heater_fan
# has a shutdown_speed equal to max_power.

[heater_fan my_nozzle_fan]
pin: P2.6
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: P2.4

#Macros
[gcode_macro CAL1]
gcode:
	G28
	probe_calibrate
	M118 Issue command "testz z=-0.1" until nozzle is in position then "accept" "save_config"

[gcode_macro CAL2]
gcode:
	G28
	delta_calibrate
	G28
	save_config
	
[gcode_macro CAL3]
gcode:
	G28
	bed_mesh_calibrate
	G28
	save_config

[gcode_macro esteps]
gcode:
	G28
	G1 Y-150 Z250  F3600
	M109 S230
	G1 E200 F200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 157.634457
#*#
#*# [stepper_a]
#*# angle = 209.899500
#*# arm_length = 397.190000
#*# position_endstop = 524.020809
#*#
#*# [stepper_b]
#*# angle = 330.029435
#*# arm_length = 397.190000
#*# position_endstop = 523.915923
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 397.190000
#*# position_endstop = 523.259826
#*#
#*# [delta_calibrate]
#*# height0 = 0.995
#*# height0_pos = 41698.000,41698.000,41698.000
#*# height1 = 0.995
#*# height1_pos = 48161.000,48161.000,39060.000
#*# height2 = 0.995
#*# height2_pos = 41650.800,51286.800,41650.800
#*# height3 = 0.995
#*# height3_pos = 39127.000,47123.000,47123.000
#*# height4 = 0.995
#*# height4_pos = 41257.000,41257.000,48270.000
#*# height5 = 0.995
#*# height5_pos = 46135.000,39183.000,46135.000
#*# height6 = 0.995
#*# height6_pos = 49656.000,41396.000,41396.000
#*#
#*# [bed_mesh default]
#*# points =
#*# 	  -0.060327, -0.060327, -0.060327, -0.060327, -0.060327, -0.060327, -0.060327
#*# 	  0.124066, 0.124066, 0.078820, 0.092277, 0.043103, -0.019151, -0.019151
#*# 	  0.155317, 0.155317, 0.081648, 0.096765, 0.100186, 0.098994, 0.098994
#*# 	  -0.004350, 0.037071, 0.020613, 0.071228, 0.035014, 0.060097, 0.066277
#*# 	  -0.020560, -0.020560, -0.047502, -0.033725, -0.024987, -0.003614, -0.003614
#*# 	  -0.002339, -0.002339, -0.086218, -0.086539, -0.091454, -0.077718, -0.077718
#*# 	  -0.002967, -0.002967, -0.002967, -0.002967, -0.002967, -0.002967, -0.002967
#*# x_count = 7
#*# y_count = 7
#*# min_x = -150.0
#*# max_x = 150.0
#*# min_y = -150.0
#*# max_y = 150.0
#*# x_offset = 0.0
#*# y_offset = 20.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
